body{
    width: 1366px;
    height: 1024px;
    background: linear-gradient(180deg, #D9184B 0%, rgba(31, 90, 166, 0.4) 100%);
    background-repeat: no-repeat;
}
#logo-header{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 97px;
    top: 38px;

    /*
    position: absolute;
    padding: 0px;
    margin: 0px;
    */
}
#menu-header{
    position: absolute;
    list-style-type: none;
    top: auto;
    right: -231px;
    width: 100vh;
    height: 10vh;
    float: ;
}
a {
    text-decoration: none;
} 
.menu-header-item{
    display: inline;
    /*
    position: absolute;
    */
    width: 113px;
    height: 24px;
    left: 231px;
    top: 41px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    /* identical to box height */
    text-indent: 5px;

    color: #F7F7F7;

}
.a-header{
    padding: 2px 10px;
    /*
    display: inline-block;
    */
    color: white;

    /*
    position: absolute;
    width: 96px;
    height: 24px;
    left: 695px;
    top: 41px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    /* identical to box height */
    /*
    text-indent: 5px;
    color: #F7F7F7;
    */
}
h1{
    /*
    color: white;
    font-size: 12px;
    width: 0vw;
    height: 0vh;
    display: unset;
    float: unset;
    */

    position: absolute;
    width: 290px;
    height: 323px;
    left: 97px;
    top: 236px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 115px;

    /* or 160% */
    text-indent: 5px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#main{
    position: relative;
    width: 1366px;
    height: 1024px;
}
#img-vr{
    position: absolute;
    width: 848px;
    height: 825px;
    left: 367px;
    top: 111px;
}
/*
#transparent-button{    
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;

    width: 348px;
    height: 190px;
    left: 1059px;
    top: 762px;
}
*/
/*
#transparent-button{
    position: absolute;
    width: 121px;
    height: 29px;
    left: 97px;
    top: 836px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;

    /* identical to box height */
/*

    color: #1F5AA6;
}
*/
/* Tendencias */
#transparent-button-text{
    position: absolute;
    width: 121px;
    height: 29px;
    left: 97px;
    top: 836px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */

    color: #1F5AA6;
}
.button-text{
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);

    padding: 0px;
    border: 0px;
    flex-wrap: nowrap;
    
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    /* identical to box height */
    text-indent: 5px;

    color: #FFFFFF;
}
#button-1{
    position: absolute;
    width: 348px;
    height: 190px;
    left: 307px;
    top: 762px;
    
    background: #1F5AA6;
    border-radius: 10px;
}
#ns-icon{
    display: flex;
    align-items: center; 
}
#button-2{
    position: absolute;
    width: 348px;
    height: 190px;
    left: 683px;
    top: 762px;
    
    background: #1F5AA6;
    border-radius: 10px;
}
#button-3{
    position: absolute;
    width: 348px;
    height: 190px;
    left: 1059px;
    top: 762px;
    
    background: #1F5AA6;
    border-radius: 10px;
}
